@-webkit-keyframes prop-600 {
    0%   { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-681px); }
}

@-webkit-keyframes prop-1200 {
    0%   { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-1200px); }
}


@-webkit-keyframes prop-1500 {
    0%   { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-1527px); }
}

@-webkit-keyframes hero-walk{
	from {background-position: 0px;}
	to {background-position: -344px;}
}