<div id="content" ng-model="roleData">
  <div class="jumbotron">
    <h1>Good e'en, sirrah!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      A goodly length in times past, in the deep solitudes and awful cells of Moria, 
      thither was a tumult. A vestal in the midst of the nary,
      slumbers he woke and wept, whence the sun light shone
      his cry was heard. Henceforth that day became known as 
      Pixelsroar night. 
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
  </div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
